* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: my-font-face;
  src: url(font/Readiness-Regular.ttf);
}

@font-face {
  font-family: my-font-face-bold;
  src: url(font/Readiness-Bold.ttf);
}
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-family: my-font-face;
  font-weight: 900;
}

.container div {
  padding: 10px;
}

.header {
grid-column: 2/3;
display: grid;
}

.header .header-up {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 0px;
}
.header-up .search-bar {
  display: grid;
  grid-template-columns: 50px 600px;
  align-items: center;

}

.search-bar input {
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 20px;
  background-color: #c2c2c2;
  /* width: 600px; */
  font-size: 14px;
  padding: 7px;
}


.header-up .notification {
  display: grid;
  grid-template-columns: 50px 70px 120px;
  align-items: center;
  justify-content: end;
}

.header .header-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
}

.header-down .user-info {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.header-down .buttons {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.header-down button {
  font-size: 1rem;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 20px;

  padding: 10px 30px;
  cursor: pointer;
}



.sidebar {
  grid-row: 1/4;
  font-size: 1.2rem;
  display: grid;
  grid-template-rows: 100px 320px 250px;
  background-color: #5995DA;
  color: #ffffff;
}
.sidebar .icon {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  font-size: 1.5rem;
}


.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #d9d9d9;
}
.project {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}


.project .card {
  background-color: #ffffff;
  /* height: 200px; */
  box-shadow: 3px 4px 3px #bebebe;
  border-radius: 5px;
}
.card .title,
.announcements .title {
  font-family: my-font-face-bold;
}

.side {
  display: grid;
  gap: 30px;
}

/* p{
  padding: 10px;
} */

.side .announcements,
.side .trending {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 4px 3px #bebebe;
}

.side .announcements{
  padding: 40px;
  font-size: 0.7rem;
}
.announcements hr {
  margin: 20px 0;
}

.side .trending {
  display: grid;


}

.trending .side-user {
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 0px;
}

.side-text,
.side-icon {
  display: inline-block;

}

img {
  width: 2em; 
}
img[src="images/account.svg"]{
  width: 3em;
}
.sidebar ul {
  list-style-position: inside;
}
ul li {
  padding: 10px 0;
}



span {
  display: block;
}

.user-info img[src="images/account.svg"]{
  width: 4em;
  padding-left: 15px;
}